
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
    
}
#header{
    width: 100%;
    height: 10vh;
   position: fixed;
   background-color: #080808;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;

}

.fixed-nav-bar { 
    position: fixed; 
    top: 0; left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 50px; 
    background-color: #00a087; }
#header1{
    width: 100%;
    height: 100vh;
   
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;

}
/* slide menu */
/* #sidemenu{
    
    height: 50%;
} */


.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .logo{
    width: 140px;
} */
#sidemenu a{
    font-weight: 600;
}
#logol{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#logol>span{
    color:red;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
 /* extra  */
.header-text p{
    margin-left: 20px; 
}
.header-text h1{
    font-size: 60px;
    margin: 20px;
}
.header-text h1 span{
    color: red;
}
/* -------about---------- */

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
   
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    margin-top: 20px;
    font-size: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* --------tech Stack----------- */
#tech{
   padding: 30px 0 30px 0;
   margin-top: -50px;
}
.timg{
    background-color: transparent;
    border: 1px solid red;
    
}
#tech-stack{
    
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 60px;
    padding: 50px;   
    background-color: #262626;   
    /* reduce padding */
}
#tech-stack div{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    background-color: #080808;
   
}
#tech-stack div img{
    width: 100%;
}
#tech-stack div h2{
    margin: auto;
    padding-top: 15px;
    
}
#tech-stack div:hover{
    color: rgb(203, 192, 109);
    transform: translateY(5px);
}
#tech-stack div #jslo{
    padding-top: 40px;
}


/* ---------portfolio---------- */

#portfolio{
    margin-top: 50px;
    /* padding: 50px 0px; */
    padding: 30px 0 30px 0;
   
}
.work-list{
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr));  */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 50px;
    background-color: #262626;
    padding: 50px;

    
}
.work{
    border-radius: 10px;
    width: 100%;
    background-color: #080808;
    border: 1px solid red;
    /* position: relative; */
    /* overflow: hidden; */
    padding-top: 20px;
    align-items: center;
    transition: transform 0.5s;
}

.work div img{
    margin: auto;
   margin-bottom: 20px;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    display: block;
    align-items: center;
    /* transition: transform 0.5s; */
}
.layer{
    margin: auto;
    width: 90%;
    /* background: linear-gradient(rgba(0,0,0,0.6),#ff004f); */
    border-radius: 10px;
    /* ----ext--- */
    /* position:absolute; */
    /* left: 0;
    bottom: 0; */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    font-size: 18px;
    
    /* transition: height 0.5s; */

}
.layer h3{
    font-weight: 600;
    margin-bottom: 20px;
}
/* .layer a */
.abut{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    /* border-radius: 50%; */
    text-align: center;
}
.buttonw button{
    width: 100px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    background-color: rgb(195, 36, 36);
    color: white;
    margin: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.buttonw button:hover{
    color: #080808;
    font-weight: bold;
    transition: 1s;
}

.work:hover {
    transform: scale(1.1);
}
/* .work:hover .layer{
    height: 100%;
} */


#Git .container .sub-title{
    margin-bottom: 30px;
}

/* ------------contact ------------*/
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
}
.contact-left a{
    text-decoration: none;
    color: white;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.btn:hover{
    background-color: #ff004f;
}
.btn.btn2{
    margin: 50px;
}
#contact .container {
    display:flex;
    justify-content: space-between;
}
.contact-right form{

    width: 100%;

}
form input,form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    /* //color: #fff; */
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.contact-right form .btn2{
    display: inline-block;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 0px;
    cursor: pointer;
    
}
form #btn3{
    background-color: transparent;
}
#btn3:hover{
    background-color: #ff004f;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #262626;
    font-weight: 300;
    margin-bottom: -30px;
}

.copyright i{
    color: #ff004f;
}
#btn4{
    margin-top: 56px;
    color: #fff;
    margin-left: 0px;
    padding: 7px 30px;
}
/*======================== skill======================== */
#skill{
    margin-top: 50px;
    margin-bottom: 10px;
}
#skill_card{
    border: 1px solid transparent;
    border-radius:10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 50px;
    background-color: #262626;
    cursor: pointer;
   
}
.skills{
    /* border: 1px solid white; */
    background-color: #080808;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ebe1e1;
}
.skills:hover{
    background-color: #ff004f;
    color: black;
}
.h11{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    color: white
}
#stati{
    /* display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(3,1fr);
    background-color: #262626; 
   justify-content: center; */
   border: 1px solid transparent;
   border-radius:10px;
   margin-top: 50px;
   margin-bottom: 50px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding: 50px 170px;
   background-color: #262626;
   cursor: pointer;
   gap: 15%;
}

.st{
    /* border: 1px solid white;
    background-color: #080808;
    border-radius: 10px;
    text-align: center;
    padding: 50px 10px;
    width: 200px; */
    background-color: #080808;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #ebe1e1;
    
    
}
.st:hover{
    background-color: #ff004f;
    color: #080808;
}

.js-calendar-graph-svg{
    width: 100%;
}


/*-------------- extra------------- */
.ts{
    color: black;
    font-weight: 800;
}
nav .fa-solid {
    display: none;
}
/* --------css for small screen-------- */
@media only screen and (max-width: 600px) {

    body{
        background-color: #080808;
    }
   .header-text{
    margin-top: 100%;
    font-size: 16px;
   }
   /*-------extra---------  */
   .flexf{
    display: flex;
    flex-direction: column;
   }
   #portfolio{
    margin-top: -40px;
   }
   #tech{
    margin-top: -80px;
   }
   #tech-stack >div{
    margin-top: -15px;
    margin-bottom: -15px;
    width: 70%;
   }

   /* .he */
   .header-text{
    margin-top: 100%;
    font-size: 16px;
   }
   .header-text h1{
    font-size: 30px;
   }
   nav .fa-solid {
    display:block;
   }
   
   nav ul{
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
   }
   nav ul li{
    display: block;
    margin: 25px;

   }
   nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
   }

   .sub-title{
    font-size: 30px;
   }
   .about-col-1, .about-col-2{
    flex-basis: 100%;

   }
   .about-col-1{
    margin-bottom: 30px;
   }
   .about-col-2{
    font-size: 14px;
   }
   .tab-links{
    font-size: 16px;
    margin-right: 20px;
   }

   .contact-left,.contact-right{
    flex-basis: 100%;
   }
   
   .contact-right{
    width:90%;
   }
   .copyright{
    font-size: 14px;
   }
   .layer {
    font-size: 13px;
   }


   #skill_card{
    display: grid;
    padding: 25px;
    grid-template-columns: auto;
   }
   #stati{
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 30px;
   }
   .skills{
    padding: 50px 20px;
  
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #ebe1e1;
}
#tech-stack{
    margin-top: 30px;
    padding: 40px 20px;
    margin-bottom: 30px;
}

.about-col-2 p{
    font-size: 15px;
}
#sidemenu{
    background-color: #262626;
}

/* my work */
.work-list{
    margin-top: 10px;
    grid-template-columns: auto;
    padding: 25px;
}
.buttonw{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.buttonw button{
    margin: auto;
    
    width: 80px;
    font-size: 10px;
}
.stat{
    width: 100%;
}


}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1022px) and (min-width: 601px) {

    nav .fa-solid {
        display:block;
    }
    .stat{
        width: 80%;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
       nav ul li{
        display: block;
        margin: 25px;
    
    }
       nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    #stati{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 30px;
        gap: 30px;
       }
       
       #skill_card{
        display: grid;
        padding: 25px;
        grid-template-columns: repeat(2,1fr);
       }

       #tech-stack{
        margin-top: 30px;
        padding: 40px 20px;
        margin-bottom: 30px;
        grid-template-columns: repeat(3,1fr);
    }

    .work-list{
        margin-top: 10px;
        grid-template-columns: repeat(2,1fr);
        padding: 25px;
    }
    .buttonw{
        margin-top: 10px;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }
    .buttonw button{
        margin: auto;
        
        width: 80px;
        font-size: 10px;
    }

} 
